<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit </title>
</head>
<body>
    <h3>    </h3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST">
        <input type="text" name="listing[title]" id="title" value=<%=listing.title%> placeholder="Enter your title" > <br> <br>
        <textarea name="listing[description]" id="description" placeholder="Enter your description" value=<%=listing.description%>></textarea>
<br> <br>
        <input type="number" name="listing[price]" id="price" placeholder="Enter your place rent" value=<%=listing.price%>><br> <br>
        <input type="text" name="listing[image]" id="image"  placeholder="Paste image link Here" value=<%=listing.image%>> <br> <br>
        <input type="text" name="listing[location]" id="location" placeholder="Enter your location" value=<%=listing.location%>> <br> <br>
        <input type="text" name="listing[country]" id="country" placeholder="Enter your country" value=<%=listing.country%>> <br> <br>
        <button>edit</button>
    </form>
    
</body>
</html>