<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3>All listings</h3>
        <!-- <div>
        <form action="/listings/new" method="get">
            <button>Create New post</button>
        </form>
    </div> -->
        <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xsm-1">
            <% allListings.map((listing)=>{%>
                <a href="listings/<%=listing._id%>" class="listing-link">
                    <div class="card col" style="width: 20rem;">
                        <img src=<%=listing.image%> class="card-img-top" alt="listing" style="height:20rem">
                        <div class="card-img-overlay">
                            <p class="card-text"><%=listing.description %></p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <b>
                                    <%=listing.title%>
                                </b>
                            </h5>
                            <p class="card-text">

                                &#8377;<%=listing.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>
        <!-- <% allListings.map((listing)=>{%>
            <div class="listing">
                <a href="/listings/<%=listing._id%>">
                    <li>
                        <%=listing.title%>
                    </li>
                </a>
                <div>
                    <form action="/listings/<%=listing._id%>/edit" method="get">
                        <button>Edit</button>
                    </form>
                </div>


            </div>
            <% }) %> -->




    </body>

    </html>